{% extends 'base.html' %}

{% block header %}
 <h1>{% block title %}Purchase access code{% endblock %}</h1>
{% endblock %}

{% block content %}

<script src="{{ paypal_id }}"></script>
<div id="paypal-button-container"></div>
<script>
    paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '5.99' // Can also reference a variable or function
                    }
                }]
            });
        },
        // Finalize the transaction after payer approval
        // Finalize the transaction on the server after payer approval
	onApprove: (data, actions) => {
		return fetch(`/payment/${data.orderID}/capture`, {
                method: "post",
            })
                .then((response) => response.json())
                .then((orderData) => {
                    // Successful capture! For dev/demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    const transaction = orderData.purchase_units[0].payments.captures[0];
                    // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                    // When ready to go live, remove the alert and show a success message within this page. For example:
                    const element = document.getElementById('paypal-button-container');
                    //element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL: 
		    //actions.redirect('/auth/login');
                });
        }
    }).render('#paypal-button-container');
</script>

{% endblock %}
