{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Video Download{% endblock %}</h1><br><br>
{% endblock %}

{% block styles %}
<style>
    /* Style for links */
    .styled-link {
        color: blue;          /* Blue color */
        font-weight: bold;    /* Bold font */
        text-decoration: underline; /* Underlined */
    }

    /* Style for visited links */
    .styled-link:visited {
        color: purple;        /* Purple for clicked links */
    }
</style>
{% endblock %}

{% block content %}
<div class="download-links">
    <p>
    The files are available for download in Full HD:
    </p>
    <br>
    <ul>
		<a href="{{ url1 }}" class="styled-link" download>XX YEARS OF STEEL CONCERT - PART 1</a>
    <br>
		<a href="{{ url2 }}" class="styled-link" download>XX YEARS OF STEEL CONCERT - PART 2</a>
    <br>
		<a href="{{ url3 }}" class="styled-link" download>XX YEARS OF STEEL CONCERT - PART 3</a>
    <br>
    </ul>
</div>

  </style>
{% endblock %}
