{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Video Player{% endblock %}</h1><br><br>
{% endblock %}

{% block content %}
  <style>
    /* CSS for custom video player */
    #video-container {
      width: 60%; /* Set the width of the container */
      margin: 0 auto; /* Center the container horizontally */
      position: relative; /* Set position to relative for absolute positioning of video player */
      background-color: black;
      display: flex;
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
    }

    #video-player {
      width: 100%; /* Set the width of the video player */
    }
    
    #resolutionSelector {
      margin-top: 10px;
      display: block;
      width: 100%;
      max-width: 800px;
      margin: 10px auto;
  }

  </style>

 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/993487832?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="V02 - Nanowar - Das Rote Pferd - Live (feat Markus Becker)"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

  <video id="video-player" controls>
    <!-- Predefined URL for the video -->
    <source src="{{ url480 }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
        <select id="resolutionSelector">
		<option value="{{ url720 }}">720p</option>
		<option value="{{ url480 }}">480p</option>
		<option value="{{ url360 }}">360p</option>
        </select>
  <script>
    // JavaScript for customizing video player
    window.onload = function() {
      var videoPlayer = document.getElementById('video-player');

      // Customize video player controls
      videoPlayer.controls = true;

      // Add event listener for when video metadata is loaded
      videoPlayer.addEventListener('loadedmetadata', function() {
        console.log('Video metadata loaded');
        // You can add additional customization here if needed
      });

      // Add event listener for when video playback starts
      videoPlayer.addEventListener('play', function() {
        console.log('Video playback started');
        // You can add additional actions here if needed
      });

      // Add event listener for when video playback pauses
      videoPlayer.addEventListener('pause', function() {
        console.log('Video playback paused');
        // You can add additional actions here if needed
      });

      // Add event listener for when video playback ends
      videoPlayer.addEventListener('ended', function() {
        console.log('Video playback ended');
        // You can add additional actions here if needed
      });
    };
  </script>
{% endblock %}
