{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Video Player{% endblock %}</h1><br><br>
{% endblock %}

{% block content %}
  <style>
    /* CSS for custom video player */
    #video-container {
      width: 60%; /* Set the width of the container */
      margin: 0 auto; /* Center the container horizontally */
      position: relative; /* Set position to relative for absolute positioning of video player */
      background-color: black;
      display: flex;
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
    }

    #video-player {
      width: 100%; /* Set the width of the video player */
    }
    
    #resolutionSelector {
      margin-top: 10px;
      display: block;
      width: 100%;
      max-width: 800px;
      margin: 10px auto;
  }

  </style>
{% endblock %}
