{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" style="display: flex; flex-direction: column; align-items: center; margin: 0 auto; max-width: 300px;">
    <div style="width: 100%;">
      <div style="margin-bottom: 10px;">
        <label for="email" style="display: inline-block; width: 120px;">Email</label>
        <input name="email" id="email" required style="width: calc(100% - 120px);">
      </div>
      <div style="margin-bottom: 10px;">
        <label for="password" style="display: inline-block; width: 120px;">Password</label>
        <input type="password" name="password" id="password" required style="width: calc(100% - 120px);">
      </div>
      <div style="margin-bottom: 10px;">
        <label for="code" style="display: inline-block; width: 120px;">Code</label>
        <input type="text" name="code" id="code" required style="width: calc(100% - 120px);">
      </div>
      <input type="submit" value="Register" style="width: 55%; margin-top: 10px;">
    </div>
  </form>
  <br>
  <p style="text-align: center;">
    <a href="{{ url_for('payment.payment') }}">Need a code? Purchase one here</a>
  </p>
  <br>
{% endblock %}
