{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" style="display: flex; flex-direction: column; align-items: center; margin: 0 auto; max-width: 300px;">
    <div style="width: 100%;">
      <div style="margin-bottom: 10px;">
        <label for="email" style="display: inline-block; width: 120px;">Email</label>
        <input type="email" name="email" id="email" required style="width: calc(100% - 120px);">
      </div>
      <input type="submit" value="Send Reset Link" style="width: 60%; margin-top: 10px;">
    </div>
  </form>
  {% if email_sent %}
    <div style="margin-top: 20px; text-align: center;">
      <p>Check your email to reset the password.</p>
    </div>
    <br>
    <br>
  {% endif %}
{% endblock %}
